<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=DESKTOP-5D4ESPD\SQLEXPRESS;Initial Catalog=DBVENTAS_WEB;User ID=sa;Password=Rivadavia385#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>