<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaModelo.Properties.Settings.DBVENTAS_WEBConnectionString"
            connectionString="Data Source=DESKTOP-5D4ESPD\SQLEXPRESS;Initial Catalog=DBVENTAS_WEB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>